@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #main_wr {
    position: relative;
    left: 0;
    top: 0;
    border: none;
  }

  .category_preview_wr #main_wr #main_body_wr #main_content_wr #right_wr #category_preview_image,
  .category_preview_wr #main_wr #main_body_wr #main_content_wr #right_wr #press_preview_image {
    width: auto;
    height: 100%;
  }
}
@media only screen and (min-width: 321px) {
  #main_wr {
    max-width: 900px;
    margin: 20px auto 0;
  }
}
@media only screen and (max-width: 320px) {
  #main_wr {
    max-width: 900px;
    margin: 50px auto 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #main_wr {
    max-width: 900px;
    margin: 10px auto 0;
  }
}
