@font-face {
  font-family: 'liberation_sans_regular';
  src: url("/font/liberationsans-regular-webfont.eot");
  src: url("/font/liberationsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/liberationsans-regular-webfont.woff") format("woff"), url("/font/liberationsans-regular-webfont.ttf") format("truetype"), url("/font/liberationsans-regular-webfont.svg#liberation_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_sans_bold';
  src: url("/font/liberationsans-bold-webfont.eot");
  src: url("/font/liberationsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/font/liberationsans-bold-webfont.woff") format("woff"), url("/font/liberationsans-bold-webfont.ttf") format("truetype"), url("/font/liberationsans-bold-webfont.svg#liberation_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  font-size: 12px;
  line-height: 16.8px;
  color: #808284;
}

body {
  font-family: liberation_sans_regular, Helvetica, Arial, sans-serif;
}

#main_wr {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  min-width: 980px;
  height: 100%;
  min-height: 650px;
  margin: 0 auto;
}
#main_wr #main_header {
  position: absolute;
  top: 0;
  right: 25px;
  left: 25px;
  z-index: 1;
  height: 30px;
}
#main_wr #main_header #main_logo_wr {
  position: absolute;
  left: 25px;
  top: 30px;
  width: 80px;
  height: 78px;
  margin: 0;
  background: url("../img/prof_logo.png") no-repeat center center transparent;
}
#main_wr #main_header #main_logo_wr a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
}
#main_wr #main_header #main_lang_selector {
  position: absolute;
  right: 0;
  bottom: 5px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-align: right;
  list-style-type: none;
}
#main_wr #main_header #main_lang_selector li {
  position: relative;
  right: -5px;
  display: inline-block;
  vertical-align: top;
}
#main_wr #main_header #main_lang_selector li:first-child {
  border-right: 1px black solid;
}
.lt-ie9.lt-ie8 #main_wr #main_header #main_lang_selector li {
  display: inline;
}
#main_wr #main_header #main_lang_selector li a {
  display: block;
  padding: 0 5px;
  color: #808284;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
}
#main_wr #main_header #main_lang_selector li a:hover, #main_wr #main_header #main_lang_selector li a.current {
  color: black;
}
#main_wr #main_body_wr {
  position: absolute;
  top: 30px;
  left: 25px;
  bottom: 30px;
  right: 25px;
}
#main_wr #main_body_wr #main_nav_wr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
}
#main_wr #main_body_wr #main_nav_wr ul {
  list-style: none;
  margin: 145px 0 0 20px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}
#main_wr #main_body_wr #main_nav_wr ul li {
  position: relative;
  margin: 0 0 2px;
  padding: 0;
}
#main_wr #main_body_wr #main_nav_wr ul li a {
  text-decoration: none;
  color: #808284;
  color: #808284;
}
#main_wr #main_body_wr #main_nav_wr ul li a:hover {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li ul {
  display: none;
  margin: 5px 0 10px 20px;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li {
  margin: 0 0 -2px;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li a {
  font-size: 10px;
  line-height: 10px;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li ul {
  background-color: rgba(255, 255, 255, 0.75);
  border-left: 1px solid #ddd;
  left: 140px;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: -12px;
  width: 80px;
  z-index: 1;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li ul:before {
  border-color: transparent #ddd transparent transparent;
  border-style: solid;
  border-width: 7px;
  content: "";
  height: 0;
  left: -15px;
  position: absolute;
  top: 10px;
  width: 0;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li ul li {
  margin: 0;
}
#main_wr #main_body_wr #main_nav_wr ul li ul li ul li a {
  font-size: 10px;
  line-height: 10px;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb a {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul {
  display: block;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li a {
  color: #808284;
  color: #808284;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li a:hover, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li a:hover {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li ul, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li ul {
  display: none;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.breadcrumb a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.breadcrumb a {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul li a, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.breadcrumb ul li a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked ul li a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.breadcrumb ul li a {
  color: #808284;
  color: #808284;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul li a:hover, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.breadcrumb ul li a:hover, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked ul li a:hover, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.breadcrumb ul li a:hover {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul li.breadcrumb a, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.breadcrumb ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.breadcrumb ul li.breadcrumb a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked ul li.breadcrumb a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.breadcrumb ul li.clicked a, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.breadcrumb ul li.breadcrumb a {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul, #main_wr #main_body_wr #main_nav_wr ul li.breadcrumb ul li.clicked ul {
  display: block;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked a {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked a {
  color: black;
}
#main_wr #main_body_wr #main_nav_wr ul li.clicked ul li.clicked ul li.clicked a {
  color: black;
}
#main_wr #main_body_wr #main_contact_wr {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 20px;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr {
  margin: 0 0 10px;
  font-size: 0;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr li {
  display: inline-block;
  vertical-align: center;
  margin: 0;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr li:first-child {
  margin: 0 4px 0 0;
}
.lt-ie8 #main_wr #main_body_wr #main_contact_wr #main_social_links_wr li {
  display: inline;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr li a {
  display: block;
  width: 21px;
  height: 21px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-image: url("../img/main_social_spr.gif");
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr li a.fb {
  background-position: left top;
}
#main_wr #main_body_wr #main_contact_wr #main_social_links_wr li a.tw {
  background-position: right top;
}
#main_wr #main_body_wr #main_contact_wr address {
  font-size: 9.6px;
  line-height: 13.44px;
}
#main_wr #main_body_wr #main_contact_wr address span {
  display: block;
}
#main_wr #main_body_wr #main_content_wr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#main_wr #main_body_wr #main_content_wr .content_wr {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 350px;
  height: 350px;
}
#main_wr #main_body_wr #main_content_wr .content_wr .content_title {
  font-size: 14.4px;
  font-weight: normal;
  text-decoration: underline;
}
#main_wr #main_body_wr #main_content_wr .content_wr .content_text {
  position: relative;
  height: 300px;
  font-size: 12px;
}
#main_wr #main_body_wr #main_content_wr .content_wr .content_text p {
  margin: 10px 10px 10px 0;
}
#main_wr #main_body_wr #main_content_wr .content_wr .content_text p .inner_title {
  display: block;
}
#main_wr #main_body_wr #main_content_wr .product_description_wr {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: auto;
  height: 50px;
  color: #ffffff;
}
#main_wr #main_body_wr #main_content_wr .product_description_wr .product_name {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: bottom;
  font-size: 30px;
  line-height: 12px;
}
.lt-ie9.lt-ie8 #main_wr #main_body_wr #main_content_wr .product_description_wr .product_name {
  display: inline;
  line-height: 30px;
}
#main_wr #main_body_wr #main_content_wr .product_description_wr .product_description_separator {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: bottom;
  font-size: 42px;
  line-height: 12px;
}
.lt-ie9.lt-ie8 #main_wr #main_body_wr #main_content_wr .product_description_wr .product_description_separator {
  display: inline;
  line-height: 40px;
}
#main_wr #main_body_wr #main_content_wr .product_description_wr .collection_name {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: bottom;
  text-decoration: underline;
  line-height: 6px;
}
.lt-ie9.lt-ie8 #main_wr #main_body_wr #main_content_wr .product_description_wr .collection_name {
  display: inline;
  line-height: 20px;
}
#main_wr #main_body_wr #main_content_wr #left_wr {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  width: 285px;
  margin: 0;
  padding: 0;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr {
  margin: 0 20px 0 0;
  padding: 0;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_name {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #808284;
  text-decoration: underline;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr {
  margin: 5px 0 0;
  padding: 0;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr #intro_text {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 14px;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr #resources_list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none outside none;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr #resources_list li {
  margin: 5px 0 0 0;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr #resources_list li a {
  padding: 0 0 0 25px;
  text-decoration: none;
  color: #808284;
  background: url("/img/download_ico.gif") scroll no-repeat left center transparent;
}
#main_wr #main_body_wr #main_content_wr #left_wr #text_wr #product_description_wr #resources_list li a:hover {
  color: black;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 285px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr {
  position: relative;
  left: 0;
  list-style: none;
  width: 570px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li {
  display: inline-block;
  width: 285px;
}
.lt-ie8 #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li {
  display: inline;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li a {
  display: inline-block;
  margin: 0 1px 1px;
  background-color: #000;
}
.lt-ie8 #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li a {
  display: inline;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li a:hover img, #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_wr li a.current img {
  opacity: 0.5;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav {
  list-style: none;
  margin: 0 50px 5px 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: right;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li {
  display: inline-block;
}
.lt-ie8 #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li {
  display: inline;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li a {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #808284;
}
.lt-ie8 #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li a {
  display: inline;
}
#main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li a:hover, #main_wr #main_body_wr #main_content_wr #left_wr #pic_wr #pic_nav_nav li a.current {
  color: black;
}
#main_wr #main_body_wr #main_content_wr #right_wr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 285px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dyn_bg_wr {
  overflow: hidden;
}

.tel_num,
.email_link,
.map_link {
  text-decoration: none;
  color: #808284;
}
.tel_num:hover,
.email_link:hover,
.map_link:hover {
  color: black;
}

.map_link {
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-decoration: underline;
  font-weight: bold;
  color: #808284;
}
.map_link:hover {
  color: black;
}

.err {
  border: 1px #f00 solid;
}

#main_slideshow_wr {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
#main_slideshow_wr a {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 0;
  background-image: url("/img/slideshow_arrows.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
}
#main_slideshow_wr a#prev_control {
  left: 25px;
  background-position: left center;
}
#main_slideshow_wr a#next_control {
  right: 25px;
  background-position: right center;
}
#main_slideshow_wr a#close_control {
  right: 25px;
  top: 25px;
  margin: 0;
  background-position: center;
}
#main_slideshow_wr #main_slideshow_list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 700%;
  margin: 0;
  padding: 0;
  background: url("/img/rgba_255-255-255-05.png") scroll repeat left top transparent;
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  -ms-transition: left 0.5s linear;
  transition: left 0.5s linear;
}
#main_slideshow_wr #main_slideshow_list li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  background: url("/img/loader.gif") scroll no-repeat center transparent;
}
.lt-ie8 #main_slideshow_wr #main_slideshow_list li {
  display: inline;
}
#main_slideshow_wr #main_slideshow_list li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
}
.lt-ie9 #main_slideshow_wr #main_slideshow_list li img {
  background-color: #ffffff;
}
