@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #main_wr {
    position: relative;
    left: 0;
    top: 0;
    border: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #main_wr {
    max-width: 1024px;
    max-height: 600px;
    margin: 30px auto 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #main_wr {
    max-width: 768px;
    max-height: 600px;
    margin: 170px auto 0;
  }

  .category_preview_wr #main_wr #main_body_wr #main_content_wr #right_wr #category_preview_image,
  .category_preview_wr #main_wr #main_body_wr #main_content_wr #right_wr #press_preview_image {
    width: auto;
    height: 100%;
  }

  .contatti_wr #contact_form .row input[type="text"], .contatti_wr #contact_form .row input[type="password"],
  .contatti_wr #registrati_form .row input[type="text"],
  .contatti_wr #registrati_form .row input[type="password"],
  .contatti_wr #login_form .row input[type="text"],
  .contatti_wr #login_form .row input[type="password"],
  .contatti_wr #forgotten_form .row input[type="text"],
  .contatti_wr #forgotten_form .row input[type="password"],
  .login_registrati_wr #contact_form .row input[type="text"],
  .login_registrati_wr #contact_form .row input[type="password"],
  .login_registrati_wr #registrati_form .row input[type="text"],
  .login_registrati_wr #registrati_form .row input[type="password"],
  .login_registrati_wr #login_form .row input[type="text"],
  .login_registrati_wr #login_form .row input[type="password"],
  .login_registrati_wr #forgotten_form .row input[type="text"],
  .login_registrati_wr #forgotten_form .row input[type="password"] {
    min-width: 50px;
  }
  .contatti_wr #contact_form .row select,
  .contatti_wr #registrati_form .row select,
  .contatti_wr #login_form .row select,
  .contatti_wr #forgotten_form .row select,
  .login_registrati_wr #contact_form .row select,
  .login_registrati_wr #registrati_form .row select,
  .login_registrati_wr #login_form .row select,
  .login_registrati_wr #forgotten_form .row select {
    min-width: 50px;
  }
}
