// per attivare, da terminale:
// cd /Users/danielemarchesini/Sites/personal/www.profoffice.it/new/
// sass --watch --debug-info scss:css --style expanded
// sass --watch scss:css --style expanded

@import "variables.scss";
@import "fonts.scss";

html, body {
	height: 100%;
	font-size: $font-size;
	line-height: $font-size * $line-height-multiplier;
	color: $text_color;
}

body {
	font-family: liberation_sans_regular, Helvetica, Arial, sans-serif;
}

#main_wr {
	position: relative;
	z-index:1;
	max-width: 1200px;
	min-width: 980px;
	height: 100%;
	min-height: 650px;
	margin: 0 auto;
	// background-color: #eee;
	#main_header {
		position: absolute;
		top: 0;
		right:$external_margin;
		left:$external_margin;
		z-index:1;
		height: $header-height;
		// background-color: #ddd;
		#main_logo_wr {
			position: absolute;
			left: $external_margin;
			top: $header-height;
			width: 80px;
			height: 78px;
			margin: 0;
			background: url('#{$img_source_url}/prof_logo.png') no-repeat center center transparent;
			a {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 0;
				line-height: 0;
				text-decoration: none;
			}
		}
		#main_lang_selector {
			position: absolute;
			right: 0;
			bottom: 5px;
			margin: 0;
			padding:0;
			overflow: hidden;
			font-size: 0;
			line-height: 0;
			text-align: right;
			// background-color: #999;
			list-style-type: none;
			li {
				position: relative;
				right: -5px;
				display: inline-block;
				vertical-align: top;
				&:first-child {
					border-right: 1px $link-hover-color solid;
				}
				.lt-ie9.lt-ie8 & {
					display: inline;
				}
				a {
					display: block;
					padding: 0 5px;
					color: $link-out-color;
					text-decoration: none;
					font-size: 12px;
					line-height: 12px;
					&:hover, &.current {
						color: $link-hover-color;
					}
				}
			}
		}
	}
	#main_body_wr {
		position: absolute;
		top: $header-height;
		left: $external_margin;
		bottom:30px;
		right: $external_margin;
		// background-color: #ccc;
		#main_nav_wr {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: $sidebar_width;
			// background-color: #bbb;
			ul {
				list-style: none;
				margin: 145px 0 0 20px;
				padding: 0;
				font-size: 12px;
				line-height: 12px;
				li {
					position: relative;
					margin: 0 0 2px;
					padding: 0;
					a {
						text-decoration: none;
						color: $link-out-color;
						color: $link-out-color;
						&:hover {
							color: $link-hover-color;
						}
					}
					ul {
						display: none;
						margin: 5px 0 10px 20px;
						li {
							margin: 0 0 -2px;
							a {
								font-size: 10px;
								line-height: 10px;
							}
							ul {
								background-color: rgba(255,255,255,0.75);
								border-left: 1px solid #ddd;
								left: 140px;
								margin: 0;
								padding: 10px;
								position: absolute;
								top: -12px;
								width: 80px;
								z-index: 1;
								&:before {
									border-color: transparent #ddd transparent transparent;
									border-style: solid;
									border-width: 7px;
									content: "";
									height: 0;
									left: -15px;
									position: absolute;
									top: 10px;
									width: 0;
								}
								li {
									margin: 0;
									a {
										font-size: 10px;
										line-height: 10px;
									}
								}
							}
						}
					}
					&.always_opened {
						&>ul {
							display: block;
						}
					}
					&.clicked, &.breadcrumb {
						a {
							color: $link-hover-color;
						}
						ul {
							display: block;
							li {
								a {
									color: $link-out-color;
									color: $link-out-color;
									&:hover {
										color: $link-hover-color;
									}
								}
								ul {
									display: none;
								}
								&.clicked, &.breadcrumb {
									a {
										color: $link-hover-color;
									}
									ul {
										// display: block;
										li {
											a {
												color: $link-out-color;
												color: $link-out-color;
												&:hover {
													color: $link-hover-color;
												}
											}
											&.clicked, &.breadcrumb {
												a {
													color: $link-hover-color;
												}
											}
										}
									}
								}
								&.clicked {
									ul {
										display: block;
									}
								}
							}
						}
					}
					&.clicked {
						a {
							color: $link-hover-color;
						}
						ul {
							li.clicked {
								a {
									color: $link-hover-color;
								}
								ul {
									li.clicked {
										a {
											color: $link-hover-color;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		#main_contact_wr {
			position: absolute;
			right: 30px;
			bottom: 0;
			left: 20px;
			#main_social_links_wr {
				margin: 0 0 10px;
				font-size: 0;
				li {
					display: inline-block;
					vertical-align: center;
					margin: 0;
					&:first-child {
						margin: 0 4px 0 0;
					}
					.lt-ie8 & {
						display: inline;
					}
					a {
						display: block;
						width: 21px;
						height: 21px;
						overflow: hidden;
						margin: 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						background-image: url('#{$img_source_url}/main_social_spr.gif');
						background-repeat: no-repeat;
						background-color: transparent;
						background-attachment: scroll;
						&.fb {
							background-position: left top;
						}
						&.tw {
							background-position: right top;
						}
					}
				}
			}
			address {
				font-size: $font-size * $small-text-multiplier;
				line-height: $font-size * $small-text-multiplier * $line-height-multiplier;
				span {
					display: block;
				}
			}
		}

		#main_content_wr {
			position: absolute;
			top: 0;
			right:0;
			bottom: 0;
			left: $sidebar_width;
			// background-color: #aaa;
			&.dyn_bg_wr{
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				&.contain {
					background-size: contain;
				}
				.continent_name {
					position: absolute;
					font-size: 14px;
					line-height: 14px;
					text-decoration: none;
					color: $link-out-color;
					&:hover { color: $link-hover-color }
					&#europa {
						left: 50%;
						top: 30%;
					}
					&#asia {
						left: 70%;
						top: 28%;
					}
					&#africa {
						left: 50%;
						top: 45%;
					}
					&#nord_america {
						left: 15%;
						top: 28%;
					}
					&#sud_america {
						left: 25%;
						top: 60%;
					}
					&#oceania {
						left: 85%;
						top: 65%;
					}
				}
			}
			.content_wr {
				position: absolute;
				right: 50px;
				top: 50px;
				width: 350px;
				height: 350px;
				.content_title {
					font-size: $font-size * $big-text-multiplier;
					font-weight: normal;
					text-decoration: underline;
				}
				.content_text {
					position: relative;
					height: 300px;
					font-size: $font-size;
					p {
						margin: 10px 10px 10px 0;
				  		// color: #fff;
				  		.inner_title {
				  			display: block;
				  		}
					}
				}
			}
			.product_description_wr {
				position: absolute;
				left: 50%;
				bottom: 30px;
				width: auto;
				height: 50px;
				color: #ffffff;
				.product_name {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					font-size: $font-size * $giant-text-multiplier;
					line-height: $font-size;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 30px;
					}
				}
				.product_description_separator {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					font-size: $font-size * $giant-text-multiplier * $line-height-multiplier;
					line-height: $font-size;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 40px;
					}
				}
				.collection_name {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					text-decoration: underline;
					line-height: $font-size / 2;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 20px;
					}
				}
			}
			#left_wr {
				position: absolute;
				top: 75px;
				bottom: 0;
				left: 0;
				width: $product_sidebar_width;
				margin: 0;
				padding: 0;
				.contatti_wr & {
					top: 270px;
				}
				.referenze_wr & {
					top: 260px;
				}
				#text_wr {
					margin: 0 20px 0 0;
					padding: 0;
					#product_name {
						margin: 0;
						padding: 0;
						font-size: 14px;
						line-height: 18px;
						color: $text_color;
						text-decoration: underline;
					}
					#product_description_wr {
						margin: 5px 0 0;
						padding: 0;
						#intro_text {
							margin: 0;
							padding: 0;
							font-size: 11px;
							line-height: 14px;
							.contatti_wr & {
								margin: 30px 0 50px;
							}
						}
						#resources_list {
							margin: 40px 0 0 0;
							padding: 0;
							list-style: none outside none;
							li {
								margin: 5px 0 0 0;
								a {
									padding: 0 0 0 25px;
									text-decoration: none;
									color: $link-out-color;
									background: url('#{$img_source_url}/download_ico.gif') scroll no-repeat left center transparent;
									&:hover {
										color: $link-hover-color;
									}
								}
							}
						}
					}
				}
				#pic_wr {
					position: absolute;
					left: 0;
					bottom: -1px;
					width: $product_sidebar_width;
					margin: 0;
					padding: 0;
					overflow: hidden;
					#pic_nav_wr {
						position: relative;
						left: 0;
						list-style: none;
						width: $product_sidebar_width * 2;
						margin: 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						-webkit-transition: left 0.5s linear;
						-moz-transition: left 0.5s linear;
						-o-transition: left 0.5s linear;
						-ms-transition: left 0.5s linear;
						transition: left 0.5s linear;
						li {
							display: inline-block;
							.lt-ie8 & {
								display: inline;
							}
							width: $product_sidebar_width;
							a {
								display: inline-block;
								margin: 0 1px 1px;
								background-color: #000;
								.lt-ie8 & {
									display: inline;
								}
								img {}
								&:hover img,
								&.current img {
									opacity: 0.5;
								}
							}
						}
					}
					#pic_nav_nav {
						list-style: none;
						margin: 0 50px 5px 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						text-align: right;
						li {
							display: inline-block;
							.lt-ie8 & {
								display: inline;
							}
							a {
								display: inline-block;
								margin: 0 0 0 5px;
								padding: 0;
								font-size: $font-size;
								line-height: $font-size;
								text-decoration: none;
								color: $link-out-color;
								.lt-ie8 & {
									display: inline;
								}
								&:hover,
								&.current {
									color: $link-hover-color;
								}
							}
						}
					}
				}
			}
			#right_wr {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: $product_sidebar_width;
				margin: 0;
				padding: 0;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

.dyn_bg_wr {
	overflow: hidden;
}

.tel_num,
.email_link,
.map_link {
	text-decoration: none;
	color: $link-out-color;
	&:hover {
		color: $link-hover-color;
	}
}

.map_link {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
	color: $link-out-color;
	&:hover {
		color: $link-hover-color;
	}
}

.err {
	// border: 1px #f00 solid;
	color: #ff0000;
	// text-decoration: underline;
}

#main_slideshow_wr {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	a {
		position: absolute;
		top: 50%;
		z-index: 2;
		width: 50px;
		height: 50px;
		margin: -$external_margin 0 0 0;
		background-image: url('#{$img_source_url}/slideshow_arrows.png');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-color: transparent;
		&#prev_control {
			left: $external_margin;
			background-position: left center;
		}
		&#next_control {
			right: $external_margin;
			background-position: right center;
		}
		&#close_control {
			right: $external_margin;
			top:  $external_margin;
			margin: 0;
			background-position: center;
		}
	}
	#main_slideshow_list {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 700%;
		margin: 0;
		padding: 0;
		background: url('#{$img_source_url}/rgba_255-255-255-05.png') scroll repeat left top transparent;
		-webkit-transition: left 0.5s linear;
		-moz-transition: left 0.5s linear;
		-o-transition: left 0.5s linear;
		-ms-transition: left 0.5s linear;
		transition: left 0.5s linear;
		li {
			position: relative;
			display: inline-block;
			.lt-ie8 & { display: inline }
			vertical-align: top;
			height: 100%;
			background: url('#{$img_source_url}/loader.gif') scroll no-repeat center transparent;
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-attachment: scroll;
				background-color: transparent;
				.lt-ie9 & {
					background-color: #ffffff;
				}
			}
		}
	}
}

.incipit {
	margin: 75px 0 20px;
	font-size: 14px;
	line-height: 17px;
	strong {
		display: block;
		margin: 0 0 50px 0;
		font-weight: normal;
		a {
			font-weight: bold;
			text-decoration: underline;
		}
	}
	span {
		display: block;
	}
	ins {
		display: block;
		font-size: 11px;
		line-height: 14px;
		text-decoration: none;
	}
}

.contatti_wr,
.login_registrati_wr {
	#contact_form,
	#registrati_form,
	#login_form,
	#forgotten_form {
		.row {
			margin: 0 0 10px;
			font-size: 0;
			line-height: 0;
			.column {
				width: 50%;
				margin: 0;
				padding: 0;
				display: inline-block;
				.lt-ie8 & { display: inline }
				&  + .column {
					text-align: right;
				}
			}
			label {
				display: inline-block;
				.lt-ie8 & { display: inline }
				width: 70px;
				font-size: 12px;
				line-height: 15px;
				text-align: left;
				&.wide {
					width: auto;
					margin: 0 0 0 5px;
				}
			}
			input {
				font-size: 12px;
				line-height: 15px;
				border: 1px #808284 solid;
				&[type="text"], &[type="password"]{
					min-width: 150px;
				}
			}
			button {
				font-size: 12px;
				line-height: 15px;
				border: 1px #fff solid;
				background-color: #fff;
				padding: 0px 5px;
			}
			select {
				min-width: 150px;
				font-size: 12px;
				line-height: 15px;
				border: 1px #808284 solid;
			}
			textarea {
				width: 100%;
				height: 100px;
				margin: 0 1px 0 0;
				font-size: 12px;
				line-height: 15px;
				border: 1px #808284 solid;
			}
		}
	}
}

.login_registrati_wr {
	#main_wr {
		#main_body_wr {
			#main_content_wr {
				#left_wr {
					top: 0;
					#text_wr {
						.incipit {
							#product_name {
								text-decoration: none;
							}
							#product_description_wr {
								#intro_text {
									margin: 52px 20px 0 0;
								}
							}
						}
						#login_form {
							margin: 0;
							fieldset {
								.row {
									label {}
									span {
										font-size: 12px;
										line-height: 12px;
									}
									input[type="text"],
									input[type="password"]{}
								}
							}
						}
						#lost_pwd_wr {
							#lost_pwd_top_wr {
								margin: 0 0 10px;
								a {
									text-decoration: none;
									color: $link-out-color;
									&:hover {
										color: $link-hover-color;
									}
								}
							}
							#forgotten_form {
								button {}
							}
						}
					}
				}
				#right_wr {
				}
			}
		}
	}
}

.referenze_wr {
	#product_name {
		margin: 0 0 8px !important;
		color: $link-hover-color !important;
		font-size: 12px !important;
		line-height: 12px !important;
	}
	#references_main_list {
		margin: 0 0 0 35px;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
			height: 14px;
			a {
				font-size: 12px;
			    line-height: 12px;
				text-decoration: none;
				color: $link-out-color;
				&:hover, &.current {
					color: $link-hover-color;
				}
				&.current {
					cursor: default;
				}
			}
		}
	}
	#right_wr{
		#references_scroller_wr {
			position: absolute;
			width: 500px;
			height: 150px;
			left: 0;
			top: 145px;
			overflow: hidden;
			ul{
				position: absolute;
				top: 0;
				margin: 0;
				padding: 0;
				list-style: none outside none;
				&#references_scroller_list {
					left: 0;
					-webkit-transition: top 0.25s linear;
					-moz-transition: top 0.25s linear;
					-o-transition: top 0.25s linear;
					-ms-transition: top 0.25s linear;
					transition: top 0.25s linear;
					li {
						height: 15px;
						font-size: 12px;
					    line-height: 12px;
					}
				}
				&#references_scroller_controls {
					right: 0;
					width: 25px;
					height: 50px;
					li {
						position: absolute;
						width: 25px;
						height: 14px;
						margin: 0;
						background-image: url('#{$img_source_url}/vertical_scroller_arrows.png');
						background-attachment: scroll;
						background-repeat: no-repeat;
						background-color: transparent;
						&#prev {
							top: 0;
							background-position: center top;
						}
						&#next {
							bottom: 0;
							background-position: center bottom;
						}
						a {
							display: block;
							width: 25px;
							height: 14px;
							font-size: 0;
							line-height: 0;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}


.news_wr {
	#product_name {
		margin: 0 0 8px !important;
		color: $link-hover-color !important;
		font-size: 12px !important;
		line-height: 12px !important;
	}
	#news_main_list {
		margin: 0 0 0 35px;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
			height: 14px;
			a {
				font-size: 12px;
			    line-height: 12px;
				text-decoration: none;
				color: $link-out-color;
				&:hover, &.current {
					color: $link-hover-color;
				}
				&.current {
					cursor: default;
				}
			}
		}
	}
	#left_wr{
		#news_scroller_wr {
			position: absolute;
			width: 250px;
			height: 200px;
			left: 0;
			top: 160px;
			overflow: hidden;
			ul{
				position: absolute;
				top: 0;
				margin: 0;
				padding: 0;
				list-style: none outside none;
				&#news_scroller_list {
					left: 0;
					-webkit-transition: top 0.25s linear;
					-moz-transition: top 0.25s linear;
					-o-transition: top 0.25s linear;
					-ms-transition: top 0.25s linear;
					transition: top 0.25s linear;
					li {
						height: 80px;
						margin: 0 50px 20px 0;
						line-height: 12px;
						font-size: 12px;
						a {
							text-decoration: none;
							color: $link-out-color;
							&:hover {
								color: $link-hover-color;
							}
							strong {
								display: block;
								margin: 0 0 5px 0;
								font-size: 16px;
    							line-height: 15px;
								text-decoration: underline;
							}
							span {
								display: block;
								font-size: 13px;
								line-height: 13px;
							}
						}
					}
				}
				&#news_scroller_controls {
					right: 0;
					width: 25px;
					height: 50px;
					li {
						position: absolute;
						width: 25px;
						height: 14px;
						margin: 0;
						background-image: url('#{$img_source_url}/vertical_scroller_arrows.png');
						background-attachment: scroll;
						background-repeat: no-repeat;
						background-color: transparent;
						&#prev {
							top: 0;
							background-position: center top;
						}
						&#next {
							bottom: 0;
							background-position: center bottom;
						}
						a {
							display: block;
							width: 25px;
							height: 14px;
							font-size: 0;
							line-height: 0;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.news_detail_wr {
	#main_wr {
		#main_body_wr {
			#main_content_wr {
				#left_wr {
					top: 233px;
					#text_wr {
						#product_name {
							color: $link-hover-color;
						}
						#abstract {
							margin: 0 0 20px;
							padding: 0;
							font-size: 13px;
							line-height: 15px;
							font-weight: normal;
							color: $link-hover-color;
						}
					}
				}
			}
		}
	}
}
#resources_list_certificazioni {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none outside none;
	li {
		margin: 5px 0 0 0;
		a {
			padding: 0 0 0 25px;
			text-decoration: none;
			color: #000000;
			background: url('#{$img_source_url}/download_ico_certificazioni.gif') scroll no-repeat left center transparent;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}