// per attivare, da terminale:
// cd /Users/danielemarchesini/Sites/personal/www.profoffice.it/new/
// sass --watch --debug-info scss:css --style expanded
// sass --watch scss:css --style expanded

@import "variables.scss";
@import "fonts.scss";

html, body {
	height: 100%;
	font-size: $font-size;
	line-height: $font-size * $line-height-multiplier;
	color: $text_color;
}

body {
	font-family: liberation_sans_regular, Helvetica, Arial, sans-serif;
}


#main_wr {
	position: relative;
	z-index:1;
	max-width: 1200px;
	min-width: 980px;
	height: 100%;
	min-height: 650px;
	margin: 0 auto;
	// background-color: #eee;
	#main_header {
		position: absolute;
		top: 0;
		right:25px;
		left:25px;
		z-index:1;
		height: $header-height;
		// background-color: #ddd;
		#main_logo_wr {
			position: absolute;
			left: 25px;
			top: $header-height;
			width: 80px;
			height: 78px;
			margin: 0;
			background: url("../img/prof_logo.png") no-repeat center center transparent;
			a {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 0;
				line-height: 0;
				text-decoration: none;
			}
		}
		#main_lang_selector {
			position: absolute;
			right: 0;
			bottom: 5px;
			margin: 0;
			padding:0;
			overflow: hidden;
			font-size: 0;
			line-height: 0;
			text-align: right;
			// background-color: #999;
			list-style-type: none;
			li {
				position: relative;
				right: -5px;
				display: inline-block;
				vertical-align: top;
				&:first-child {
					border-right: 1px $link-hover-color solid;
				}
				.lt-ie9.lt-ie8 & {
					display: inline;
				}
				a {
					display: block;
					padding: 0 5px;
					color: $link-out-color;
					text-decoration: none;
					font-size: 12px;
					line-height: 12px;
					&:hover, &.current {
						color: $link-hover-color;
					}
				}
			}
		}
	}
	#main_body_wr {
		position: absolute;
		top: $header-height;
		left: 25px;
		bottom:30px;
		right: 25px;
		// background-color: #ccc;
		#main_nav_wr {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: $sidebar_width;
			// background-color: #bbb;
			ul {
				list-style: none;
				margin: 145px 0 0 20px;
				padding: 0;
				font-size: 12px;
				line-height: 12px;
				li {
					position: relative;
					margin: 0 0 2px;
					padding: 0;
					a {
						text-decoration: none;
						color: $link-out-color;
						color: $link-out-color;
						&:hover {
							color: $link-hover-color;
						}
					}
					ul {
						display: none;
						margin: 5px 0 10px 20px;
						li {
							margin: 0 0 -2px;
							a {
								font-size: 10px;
								line-height: 10px;
							}
							ul {
								background-color: rgba(255,255,255,0.75);
								border-left: 1px solid #ddd;
								left: 140px;
								margin: 0;
								padding: 10px;
								position: absolute;
								top: -12px;
								width: 80px;
								z-index: 1;
								&:before {
									border-color: transparent #ddd transparent transparent;
									border-style: solid;
									border-width: 7px;
									content: "";
									height: 0;
									left: -15px;
									position: absolute;
									top: 10px;
									width: 0;
								}
								li {
									margin: 0;
									a {
										font-size: 10px;
										line-height: 10px;
									}
								}
							}
						}
					}
					&.clicked, &.breadcrumb {
						a {
							color: $link-hover-color;
						}
						ul {
							display: block;
							li {
								a {
									color: $link-out-color;
									color: $link-out-color;
									&:hover {
										color: $link-hover-color;
									}
								}
								ul {
									display: none;
								}
								&.clicked, &.breadcrumb {
									a {
										color: $link-hover-color;
									}
									ul {
										// display: block;
										li {
											a {
												color: $link-out-color;
												color: $link-out-color;
												&:hover {
													color: $link-hover-color;
												}
											}
											&.clicked, &.breadcrumb {
												a {
													color: $link-hover-color;
												}
											}
										}
									}
								}
								&.clicked {
									ul {
										display: block;
									}
								}
							}
						}
					}
					&.clicked {
						a {
							color: $link-hover-color;
						}
						ul {
							li.clicked {
								a {
									color: $link-hover-color;
								}
								ul {
									li.clicked {
										a {
											color: $link-hover-color;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		#main_contact_wr {
			position: absolute;
			right: 30px;
			bottom: 30px;
			left: 20px;
			#main_social_links_wr {
				margin: 0 0 10px;
				font-size: 0;
				li {
					display: inline-block;
					vertical-align: center;
					margin: 0;
					&:first-child {
						margin: 0 4px 0 0;
					}
					.lt-ie8 & {
						display: inline;
					}
					a {
						display: block;
						width: 21px;
						height: 21px;
						overflow: hidden;
						margin: 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						background-image: url("../img/main_social_spr.gif");
						background-repeat: no-repeat;
						background-color: transparent;
						background-attachment: scroll;
						&.fb {
							background-position: left top;
						}
						&.tw {
							background-position: right top;
						}
					}
				}
			}
			address {
				font-size: $font-size * $small-text-multiplier;
				line-height: $font-size * $small-text-multiplier * $line-height-multiplier;
				span {
					display: block;
				}
			}
		}

		#main_content_wr {
			position: absolute;
			top: 0;
			right:0;
			bottom: 0;
			left: $sidebar_width;
			// background-color: #aaa;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			.content_wr {
				position: absolute;
				right: 50px;
				top: 50px;
				width: 350px;
				height: 350px;
				.content_title {
					font-size: $font-size * $big-text-multiplier;
					font-weight: normal;
					text-decoration: underline;
				}
				.content_text {
					position: relative;
					height: 300px;
					font-size: $font-size;
					p {
						margin: 10px 10px 10px 0;
				  		// color: #fff;
				  		.inner_title {
				  			display: block;
				  		}
					}
				}
			}
			.product_description_wr {
				position: absolute;
				left: 50%;
				bottom: 30px;
				width: auto;
				height: 50px;
				color: #ffffff;
				.product_name {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					font-size: $font-size * $giant-text-multiplier;
					line-height: $font-size;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 30px;
					}
				}
				.product_description_separator {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					font-size: $font-size * $giant-text-multiplier * $line-height-multiplier;
					line-height: $font-size;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 40px;
					}
				}
				.collection_name {
					display: inline-block;
					margin: 0;
					padding: 0;
					font-weight: normal;
					vertical-align: bottom;
					text-decoration: underline;
					line-height: $font-size / 2;
					.lt-ie9.lt-ie8 & {
						display: inline;
						line-height: 20px;
					}
				}
			}
			#left_wr {
				position: absolute;
				top: 65px;
				bottom: 0;
				left: 0;
				width: $product_sidebar_width;
				margin: 0;
				padding: 0;
				#text_wr {
					margin: 0 20px 0 0;
					padding: 0;
					#product_name {
						margin: 0;
						padding: 0;
						font-size: 13px;
						color: $text_color;
						text-decoration: underline;
					}
					#product_description_wr {
						margin: 5px 0 0;
						padding: 0;
						#intro_text {
							margin: 0;
							padding: 0;
							font-size: 11px;
							line-height: 14px;
						}
						#resources_list {
							margin: 40px 0 0 0;
							padding: 0;
							list-style: none outside none;
							li {
								margin: 5px 0 0 0;
								a {
									padding: 0 0 0 25px;
									text-decoration: none;
									color: $link-out-color;
									background: url('#{$img_source_url}/download_ico.gif') scroll no-repeat left center transparent;
									&:hover {
										color: $link-hover-color;
									}
								}
							}
						}
					}
				}
				#pic_wr {
					position: absolute;
					left: 0;
					bottom: 0;
					width: $product_sidebar_width;
					margin: 0;
					padding: 0;
					overflow: hidden;
					#pic_nav_wr {
						position: relative;
						left: 0;
						list-style: none;
						width: $product_sidebar_width * 2;
						margin: 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						li {
							display: inline-block;
							.lt-ie8 & {
								display: inline;
							}
							width: $product_sidebar_width;
							a {
								display: inline-block;
								margin: 0 1px 1px;
								background-color: #000;
								.lt-ie8 & {
									display: inline;
								}
								img {}
								&:hover img {
									opacity: 0.5;
								}
							}
						}
					}
					#pic_nav_nav {
						list-style: none;
						margin: 0 50px 5px 0;
						padding: 0;
						font-size: 0;
						line-height: 0;
						text-align: right;
						li {
							display: inline-block;
							.lt-ie8 & {
								display: inline;
							}
							a {
								display: inline-block;
								margin: 0 0 0 5px;
								padding: 0;
								font-size: $font-size;
								line-height: $font-size;
								text-decoration: none;
								color: $link-out-color;
								.lt-ie8 & {
									display: inline;
								}
								&:hover,
								&.current {
									color: $link-hover-color;
								}
							}
						}
					}
				}
			}
			#right_wr {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: $product_sidebar_width;
				margin: 0;
				padding: 0;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

.dyn_bg_wr {
	overflow: hidden;
}

.tel_num,
.email_link,
.map_link {
	text-decoration: none;
	color: $link-out-color;
	&:hover {
		color: $link-hover-color;
	}
}

.map_link {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
	color: $link-out-color;
	&:hover {
		color: $link-hover-color;
	}
}



