
// iPads (portrait and landscape)
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	#main_wr {
		position: relative;
		left: 0;
		top: 0;
		border: none;
	}
}

// iPads (landscape)
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	#main_wr {
		max-width: 1024px;
		max-height: 600px;
		margin: 30px auto 0;
	}
}

// iPads (portrait)
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	#main_wr {
		max-width: 768px;
		max-height: 600px;
		margin: 170px auto 0;
	}

	.category_preview_wr {
		#main_wr {
			#main_body_wr {
				#main_content_wr {
					#right_wr {
						#category_preview_image,
						#press_preview_image {
							width: auto;
							height: 100%;
						}
					}
				}
			}
		}
	}
}
