// variables

// colors
$link-out-color: #808284;
$link-hover-color: #000000;
$text_color: #808284;

// font properties
$font_source_url: '/font';
$font-size: 12px;
$line-height-multiplier: 1.4;
$small-text-multiplier: 0.8;
$big-text-multiplier: 1.2;
$giant-text-multiplier: 2.5;

// page elements dimensions
$header-height: 30px;
$sidebar_width: 230px;
$product_sidebar_width: 250px;