RewriteEngine On

RewriteRule ^(prodotti)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ /$1.php?categoria=$2&modello=$3 [L]
RewriteRule ^(prodotti)/([A-Za-z0-9\-]+)$ /$1.php?categoria=$2 [L]
RewriteRule ^(prodotti)$ /$1.php [L]

RewriteRule ^(referenze)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ /$1.php?continente=$2&stato=$3 [L]
RewriteRule ^(referenze)/([A-Za-z0-9\-]+)$ /$1.php?continente=$2 [L]
RewriteRule ^(referenze)$ /$1.php [L]

RewriteRule ^(catalogo)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-\.]+)$ /$1/$2/$3/$4 [L]

RewriteRule ^(news)/([A-Za-z0-9\-]+)/([0-9]+)$ /$1-$2.php?id=$3 [L]

RewriteRule ^([A-Za-z0-9\-]+)$ /$1.php [L]
RewriteRule ^([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ /$1-$2.php [L]
RewriteRule ^([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ /$1-$2-$3.php [L]