@CHARSET "UTF-8";
a img {
  border: none;
}

a, a:focus { outline: 0; }

@font-face {
    font-family: 'liberation_sans_regular';
    src: url('/font/liberationsans-regular-webfont.eot');
    src: url('/font/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/liberationsans-regular-webfont.woff') format('woff'),
         url('/font/liberationsans-regular-webfont.ttf') format('truetype'),
         url('/font/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_sans_bold';
    src: url('/font/liberationsans-bold-webfont.eot');
    src: url('/font/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/liberationsans-bold-webfont.woff') format('woff'),
         url('/font/liberationsans-bold-webfont.ttf') format('truetype'),
         url('/font/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* body*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  background-color: #fff;
  width: 100%;
}

#main {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 700px;
  background-color: #fff;
}

/* index */
#main_contenitore {
  padding: 0;
  margin: 0 auto;
  margin-top: 200px;
  width: 700px;
  height: 100%;
  background-color: #fff;
  color: #999999;
}

#spalladestra {
  display: inline;
  float: left;
  padding: 0;
  width: 200px;
  height: 433px;
}
#imgLogo {
  display: inline;
  float: left;
  width: 80px;
  height: 78px;
  margin-left: 10px;
}
#testoNewSite {
  display: inline;
  float: left;
  font-size: 18px;
  width: 300px;
  height: 100px;
  text-align: left;
  margin-top: 132px;
  margin-left: 150px;
  line-height: 20px;

}
#testoInfo {
  font-family: 'liberation_sans_regular';
  display: inline;
  float: left;
  width: 190px;
  height: 200px;
  margin-top: 60px;
  text-align: left;
  color: #000;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  margin-left: 10px;
}
#testo_bold {
  font-family: 'liberation_sans_bold';
}
#testoInfo a {
  text-decoration: none;
  color: #000;
}
#contVideo {
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  width: 500px;
}
#contVideo iframe{
  border: 0px;
  margin: 0px;
}
#social_bar {
  margin: 0 auto;
  display: inline;
  float: left;
  width: 970px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #000;
  clear: left;
}